SITE_ORIGIN=http://localhost:3000
ELIVION_EVALUATION_ADMIN_EMAILS=
EMBED_SIGNING_SECRET=
BILLING_PROVIDER=disabled
EMAIL_PROVIDER=disabled
PRODUCTION_IDENTITY_PROVIDER=disabled
MALWARE_SCANNER=disabled
OBSERVABILITY_ENDPOINT=
